<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" href="/resources/css/style.css"/>
</head>
<body>
<div id="overlay">

</div>
<div id="area">
    <div id="subarea">
        <h2>Thank You For Using Titania Framework!</h2>

        <p>
            Titania is a ruby web framework, (that i hope are) simple, easy to use, and fast.
            Developed by Aditya &quot;Avaga&quot; Purwa of ION.
        </p>

        <p>
            This version you're using is unstable preview of Titania, on its development preview.
            There is no native database support, no plug-ins, libraries, etc.
            The only thing you can get from this version is an unstable XMVC working set.
        </p>

        <p>
            We introduce you to the new world of MVC, which is the XMVC (Extended Model View Controller).
            XMVC is the main design pattern used in developing web application using this framework.
        </p>

        <p>
            Please note that Titania is currently on its unstable preview version. Future changes may occur
            frequently during this development period. The date of stable release is still unknown.
        </p>
    </div>
</div>
</body>
</html>